.side-Container{
    color: #54656f;
    background-color: rgb(233 236 239);
    padding: 12px;
    .Profile{
        .fa-gear{
            font-size: 26px;
            padding: 3px 3px;
        }
        img{
            width: 32px;
        }
    }
}