<div class="left-container">
    <!--header -->
    <div class="header d-flex align-items-center justify-content-sm-around gap-5 p-3">
        <p class="fw-bold fs-5 m-0 me-auto">Chats</p>
        <div class="d-flex gap-md-5 fs-5 Nav-icons">
          <i class="fa-regular fa-square-plus"></i>
          <i class="fa-solid fa-ellipsis-vertical"></i>
        </div>
    </div>
    <!--search-container -->
    <div class="search-container d-flex justify-content-lg-around align-items-center">
      <div class="Search_icon d-flex align-items-center justify-content-evenly m-2 w-100">
        <i class="fa-solid fa-magnifying-glass"></i>
        <input type="text" class="w-100 text-center p-1 bg-body-secondary border-0 rounded-3" placeholder="Search">
      </div>
      <i class="fa fa-filter"></i>
    </div>

    <!--notification -->
    <div class="notif-box">
      <i class="fa-solid fa-bell-slash"></i>
      <div class="notif-text">
        <p>Get Notified of New Messages</p>
        <a href="#">Turn on Desktop Notifications ›</a>
      </div>
      <i class="fa-solid fa-xmark"></i>
    </div>




    <!--chats -->
    <div class="chat-list">
      <div class="chat-box d-flex m-2 border-bottom p-1 justify-content-md-between" *ngFor="let user of ChatUsers">
        <div class="img-box d-flex gap-3">
          <img class="img-cover"
            src="https://lh5.googleusercontent.com/-7ssjf_mDE1Q/AAAAAAAAAAI/AAAAAAAAASo/tioYx2oklWEHoo5nAEyCT-KeLxYqE5PuQCLcDEAE/s100-c-k-no-mo/photo.jpg"
            alt="">
          <div class="text-head">
            <p (click)="chatDetails(user)" class="user m-0">{{user}}*&*&&</p>
            <p class="message">“How are you?”</p>
          </div>
        </div>
        <div class="text-message">
          <p class="time unread m-0">11:49</p>
          <b>1</b>
        </div>
      </div>
    </div>

  </div>
   